<div class="row">
  <div class="beer-random card">
    <h2 class="beer-title"><%= @beer["title"] %></h2>
    <h3 class="beer-percentage"><%= @beer["percentage"] %>%</h3>
    <p class="beer-description"><%= @beer["description"] %></p>
  </div>
</div>
<div class="row">
  <a href=<%= "/?location=#{@selected_location}" %> class="beer-random-button button">Pick me another</a>
</div>
<div class="row share-row">
  <a href="#" class="link open-share-modal">Share</a>
</div>
<div class="row location-cta">
  <% if @locations.count > 1 %>
  <h2 class="location-title">Location</h2>
  <form>
    <select name="location">
      <% @locations.each do |k| %>
      <option <%if(@selected_location==k)%> selected<% end %> value=<%= k %>><%=k%></option>
      <% end %>
    </select>
    <input type="submit" value="Go">
  </form>
  <% else %>
  <h2 class="location-title">We've currently only got British Supermarket Beers, contribute a list <a class="link" target="_blank" href="http://goo.gl/forms/y00M7n9Zwd">here</a></h2>
  <% end %>
</div>
